
.sidebar {
 
position: absolute;
width: 588px;
height: 100%;
left: 0px;
top: 0px;

background: #000000;
}
 .board p{
  position: absolute;
width: 406px;
margin-top: 2%;
left: 171px;
top: 264px;
color: white;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 72px;
 }
 .right{
  position: absolute;
width: 929px;
height: 100%;
left: 588px;
top: 0px;

/* Background */

background: #F5F5F5;
 }
 .signin{
  position: absolute;
  width: 131px;
  height: 44px;
  left: 274px;
  top: 130px;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  
  
  color: #000000;
 }
 .signpara{
  position: absolute;
width: 40%;
left: 274px;
top: 100px;
margin-top:15.5%;


background: #F5F5F5;
 }
 .card{
  height: 235px;
  width: 370px;
  border-radius: 20px;
  position: absolute;
left: 30%;
right: 0%;
top: 47%;
bottom: 0%;

background: #FFFFFF;
border-radius: 20px;
 }
 .emailads{
  position: absolute;
width: 96px;
height: 2%;
left: 10%;
top: -15px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;

 }
 input{
  top: 20%;
  left: 7%;

  position: absolute;
  width: 310px;
  height: 25px;
  border-radius: 5px;
  background: #F5F5F5;
 }
 .password{
  position: absolute;
  width: 96px;
  height: 2%;
  left: 10%;
  top: 48px;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  color: #000000;
  
 }
 .password1{
  top: 50%;
  left: 7%;

  position: absolute;
  width: 310px;
  height: 25px;
  border-radius: 5px;
  background: #F5F5F5;
 }
 .forget{
  position: absolute;
  width: 180px;
  height: 2%;
  left: 7%;
  top: 50%;
  
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  
  color: #346BD4
  ;

 }
 button{
  width: 310px;
  height: 31px;
  left: 7%;
    margin-top: 30%;
  background: #000000;
border-radius: 5px;
color: #FFFFFF;
 }
 .register{
  position: absolute;
  width: 450px;
  left: 320px;
top: 85%;
 }
 .buttongoogle{
  width: 172px;
  height: 22px;
  position: absolute;
left: 30%;
right: 0%;
top: 1%;
bottom: 0%;
color: #000000;
background: #FFFFFF;
border-radius: 7px;
 }
 .buttongoogle1{
  width: 172px;
  height: 22px;
  position: absolute;
left: 55%;
right: 0%;
top: 1%;
bottom: 0%;
color: #000000;
background: #FFFFFF;
border-radius: 7px;
 }
 .dashboard{

  background: #dddd;
  width: 100%;
  height: 100%;
 }
 .navbar{
  height: 94%;
  width: 15%;
  position: absolute;
left: 2%;
right: 0%;
top: 3%;
bottom: 0%;

background: #000000;
border-radius: 15px;
 }
 .board{

  position: absolute;
  left: 17.86%;
  right: 38.21%;
  top: 1%;
  bottom: 88.98%;
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  
  
  color: #FFFFFF;
 }
 ul li {
  left: 1.86%;

  top:75px;
  display: block;
  font-size: 16px;
  position: relative;
  font-family: 'Montserrat';
font-style: normal;
font-size: 16px;
line-height: 44px;
/* identical to box height */


color: #FFFFFF;

}
.dash{
  position: absolute;
width: 138px;
height: 29px;
left: 320px;
top: 5px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;
}
.inputStyle{
  top:3%;
  left: 70%;
  width:104px;
  height:1%;
  padding: 8px 30px;
};

.icon{
  position: absolute;
  padding-left: 90%;
  right: 8.26%;
  top: 6.35%;
  bottom: 91.7%;
  
  background: #000000;}
  .total {
    width:221.05px ;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    left: 21%;
    right: 0%;
    top: 8.5%;
bottom: 0%;
border-radius: 20px;
  }
  .image{
    position: absolute;
left: 75.12%;
right: 60.04%;
top: 12.55%;
bottom: 83.11%;

background: #000000;
  }
  .head{
    position: absolute;
width: 124px;
height: 13px;
left: 10px;
top: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;


color: #000000;
  }
  .value{


position: absolute;
width: 124px;
height: 23px;
left: 10px;
top: 45px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #000000;
  }
  .graph{
    width: 1120px;
    height: 259px;
    position: absolute;
left: 21%;
right: 0%;
top:25%;
bottom: 0%;

background: #FFFFFF;
border-radius: 20px;
  }
  .acitivity{
    position: absolute;
width: 93px;
height: 22px;
left: 50px;
top: -1px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
  }
  .date{
    position: absolute;
width: 111px;
left: 50px;
top:8%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


/* Secondary Text */

color: #858585;
  }
  .span{
    position: absolute;
    width: 111px;
    left: 50px;
    top:8%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .dot1{
    margin-left: 80%;
    margin-top:2.5%;

  }
  .pie{
    width: 530px;
    height: 239px;
    position: absolute;
left: 21%;
right: 0%;
top:64%;
bottom: 0%;

background: #FFFFFF;
border-radius: 20px;
  }
  .pie1{
    width: 558px;
    height: 239px;
    position: absolute;
left: 58%;
right: 0%;
top:64%;
bottom: 0%;

background: #FFFFFF;
border-radius: 20px;
  }
  .appoint{
    position: absolute;
width: 162px;
height: 22px;
left: 40px;
top: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
  }
  .see{
    position: absolute;
width: 41px;
height: 15px;
left: 450px;
top: 1px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


/* Secondary Text */

color: #858585;
  }
  .line1{
    
position: absolute;
width: 66px;
height: 0px;
left: 10px;
top: 85px;


border: 5px solid #9BDD7C;
transform: rotate(90deg);
  }
  .line2{
    
    position: absolute;
    width: 66px;
    height: 0px;
    left: 10px;
    top: 185px;
    
    
    border: 5px solid #6972C3;
    transform: rotate(90deg);
      }
      .list{
        position: absolute;
        width: 300px;
        height: 0px;
        left:61px;
        top:45px;



color: #666666;
      }
      .tim{
        left:171px;
        top:50%;
        color: #999999;

      }
  .adres{
    left:290px;
        top:50%;
        color: #999999;
  }
  .list1{
    position: absolute;
    width: 300px;
    height: 0px;
    left:61px;
    top:155px;



color: #666666;
  }
  .see1{
    position: absolute;
width: 91px;
height: 15px;
left: 400px;
top: 27px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
/* identical to box height */


/* Secondary Text */

color: #858585;
  }
  .dot6 {
    position: absolute;
width: 11px;
height: 11px;
left: 324px;
top: 177px;
border-radius: 50%;
background: #EE8484;
  }
  .pieorg{
    width: 45%;
    padding-left: 65%;
    margin-top: 3%;  }
    .dot8{
      position: absolute;
      width: 11px;
      height: 11px;
      left: 324px;
      top: 90px;
      border-radius: 50%;
      background: #98D89E;
    }
    .pieorg8{
      width: 45%;
      padding-left: 65%;
      margin-top: -27.5%;  }
      .dot7{
        position: absolute;
        width: 11px;
        height: 11px;
        left: 324px;
        top: 140px;
        border-radius: 50%;
        background: #F6DC7D;
      }
      .para55{
        position: absolute;
width: 24px;
height: 14px;
left: 350px;
top: 95px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Secondary Text */

color: #858585;
      }
      .para31{
        position: absolute;
width: 24px;
height: 14px;
left: 350px;
top: 140px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Secondary Text */

color: #858585;
      }
      .para14{
        position: absolute;
width: 24px;
height: 14px;
left: 350px;
top: 185px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Secondary Text */

color: #858585;
      }
      .help{
        padding-top: 125%;
        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #FFFFFF;
      }